nav ul {
    list-style-type: none;
    margin: 0.5em;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    background-color: #f3f3f3;
}

nav ul li {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1em;
    width: 100%;
    border: 2px solid black;
}


li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #ddd;
    color: #145A32;

}

li a.active {
    color: white;
    background-color: black;
}

h1 {
    text-align: center;
    margin: 0.5em;
    font-family: Impact;
}

div.viva {
    margin: 2em;
}